/* bens colors*/

.dark-primary-color    { background: #c0c8db; }
.default-primary-color { background: #49d48e; }
.light-primary-color   { background: #222222; }
.text-primary-color    { color: #222222; }
.accent-color          { background: #fb9502; }
.accent-color2          { background: #2f20f8; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


.background-color{background:#c0c8db }

.col-center{
	float:none;
  	margin:0 auto;
}