<!--DOCKTYPE html -->

<html>
	{% include "items/header.html" %}  
	<body>
		<div class="page-header">
			<h1 class="text-center display-4">Submit a new Item</h1>
		</div>

	{% include "items/createItemForm.html" %}

	</body>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>

	{% include "items/footer.html" %}
</html>
