<!--DOCKTYPE html -->

<html>
		{% include "items/header.html" %}  
	<hr>
	<br>
	<br>
	<br>
	<body>
		<div class="container">
			<div class="jumbotron">
				<form action="createStoreName" method="POST">
					{% csrf_token %}
					{{ form.as_p }}
					<input type='submit' value="Create new Store Name" />
				</form>

			</div>
		</div>
		<br>
		<br>
		<!-- bootstrap imports-->
	</body>
</html>
