<!--DOCKTYPE html -->

<html>
		{% include "items/header.html" %}  
		<div class="page-header">
			<h1 class="text-center display-4">Submit a new Store</h1>
		</div>
	<body>
		<div class="container">
			<div class="jumbotron">
					
					<a href=#createStoreName data-toggle="collapse"  class="secondary-text-color">
					Your store brand/name not in the system? Click here
					</a>

					<div id="createStoreName" class="collapse in">
						<form action="createStoreName" method="post"	>
							{% csrf_token %}
							

							{{ newStoreNameForm.as_p }}
							<input type='submit' value='Submit Store name' class="accent-color btn" />
						</form>
					</div>

					<form action="createStore" method="POST"	>
						{% csrf_token %}
						

						{{ newStoreForm.as_p }}
						<input type='submit' value='Submit Store' class="accent-color btn"/>
					</form>
				</div>

				<br>
				<br>
			</div>
		</div>
		<br>
		<br>
	</body>
			<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>
				<br>
		<br>

	{% include "items/footer.html" %}
</html>
