		<div class="container">
			<div class="jumbotron">
					<a href=#createStore data-toggle="collapse"  class="secondary-text-color">
						Your store not in the system? Click here
					</a>

					<div id="createStore" class="collapse in">
						
						<a href=#createStoreName data-toggle="collapse"  class="secondary-text-color">
						Your store brand/name not in the system? Click here
						</a>

						<div id="createStoreName" class="collapse in">
							<form action="createStoreName" method="post"	>
								{% csrf_token %}
								

								{{ newStoreNameForm.as_p}}
								<input type='submit' value='Submit Store name' class="accent-color btn"/>
							</form>
						</div>

						<form action="createStore" method="POST"	>
							{% csrf_token %}
							

							{{ newStoreForm.as_p}}
							<input type='submit' value='Submit Store' class="accent-color btn" />
						</form>
					</div>

					</br>
					</br>

					<form action="createItem" method="POST" enctype="multipart/form-data">
						{% csrf_token %}						

						<p><label for="id_proof_of_price">Image proof of price:</label> <input class="form-control" id="id_proof_of_price" name="proof_of_price" type="file" required=""></p>
						<p><label for="id_item_price">Item price:</label> <input class="form-control" id="id_item_price" name="item_price" step="0.01" type="number" required=""></p>
						<p><label for="id_item_name">Item name:</label> <input class="form-control" id="id_item_name" maxlength="50" name="item_name" type="text" required=""></p>

						<p>
							<label for="id_store">Store:</label>
							{{ newItemForm.store }}
						</p>

						<p>
							<label for="id_is_sale_price">Is sale price:</label> 
							<input id="id_is_sale_price" name="is_sale_price" type="checkbox">
						</p>

						<p>
							<input type="submit" value="Submit Item" class="accent-color btn">
						</p>
					</form>
				<br>
				<br>
			</div>
		</div>