<!--DOCKTYPE html -->

<html>
	{% include "items/header.html" %}  

	<body>

		<div class="container">
			<div class="page-header">
				<h1 class="text-center display-4">{{ title }}</h1>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="center jumbotron light-primary-color">
						
						<div class="row">
							<div class="col-md-7">
								<h2><span class="alert-danger">{{ failed_to_find }}</span></h2>

								{% if is_item %}
									<p><small class="secondary-text-color">Item: </small> {{ item_name }}</p>
									<p><small class="secondary-text-color">Price: </small> ${{ item_price }}<sup>¢</sup></p>
									<p><small class="secondary-text-color">Store: </small> {{ store }}</p>
									{% if is_sale_price %}
											<h6><em>This is a sale price</em></h6>
									{% endif %}

								{% else %}
									<p><small class="secondary-text-color">Store brand: </small> {{ store }}</p>
									<p><small class="secondary-text-color">Store location: </small> {{ store_location }}</p>
								{% endif %}

							</div>
							<div class="col-md-5">
									<img style="float: right; max-height: 200px" src="{{ proof_of_price.url }}" class="img-responsive img-rounded">
							</div>
						</div>
						
						
					</div>
				</div>
			</div>
		</div>
	</body>
	{% include "items/footer.html" %}
</html>
