
<footer>
	<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-bottom default-primary-color ">
		<div class="container">
			<a class="navbar-brand" href="/">Pricetag Club</a>

			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="mailto:Max@Maxniebergall.com">Email a Developer</a>
				</li>				
			</ul>
		</div>
	</nav>
</footer>