<head>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<meta charset="utf-8">
		<meta name="theme-color" content="#FFC107"><!--default-primary-color-->
		<meta http-equiv="Cache-control" content="public">
		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<!-- Set the page to the width of the device and set the zoon level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">
		
		<!-- Select2 and Bootstrap adn JQuirry-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
		
		<script type="text/javascript">
 		 $('select').select2();
		</script>

		{% load static %}
		<link rel="stylesheet" href="{% static "main.css" %}">
		<link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}"/>

		<title>Pricetag.club</title>
</head>
<header>
	<nav class="navbar navbar-expand-lg navbar-light default-primary-color ">
		<a class="navbar-brand" href="/"> <img class="img-responsive" src="{% static "Pricetagclub_logo_v4_withcolor.png" %}" height="60px" width="60px" alt="Pricetag Club"></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/itemListView">Item List <span class="sr-only">(current)</span></a>
				</li>				
				
				<li class="nav-item active">
					<a class="nav-link" href="/createItem">New Item</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="/createStore">New Store</a>
				</li>
			</ul>

			<div class="col-md-5">
				<form method="GET" action="/" class="center form-inline">
					<input name="{{ search_form.search.name }}" id="{{ search_form.search.auto_id }}" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
					<button class="btn accent-color my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
			
			<span class="navbar-text">
				Membership coming soon  
			</span>
			<a class="nav-link disabled btn btn-secondary" href="#"><span style="color:white">Login</span></a>
		</div>
	</nav>
</header>