<!--DOCKTYPE html -->

<html>
	{% include "items/header.html" %}  
	<div class="page-header">
			<h2 class="text-center">Pricetag Club- Find prices, share and review products and services</h2>
		</div>
	<body>	
		{% include "items/createItemForm.html" %}
	</body>
		<br>
		<br>
		<br>
		<br>
	{% include "items/footer.html" %}  
</html>
