<!--DOCKTYPE html -->

<html>
	{% include "items/header.html" %}  

	<body>

		<div class="container">
			<div class="page-header">
				<h1 class="text-center display-4">{{ title }}</h1>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-10">
					<div class="center jumbotron light-primary-color">
						
						<h2><span class="alert-danger">{{ failed_to_find }}</span></h2>

						{% if not is_search %}	
							{% for obj in object_list %}

								<div class="row">
									<div class="col-md-7">
										<a href="/items/{{ obj.id }}"><small class="secondary-text-color">Item: </small> {{ obj.item_name }}</a>
										<p><small class="secondary-text-color">Price: </small> ${{ obj.item_price }}<sup>¢</sup></p>
										<a href="/stores/{{ obj.store_id }}"><p><small class="secondary-text-color">Store: </small> {{ obj.store }}</p></a>
										
										{% if obj.is_sale_price %}
										<h6><em>This is a sale price</em></h6>
										{% endif %}
										
									</div>

									<div class="col-md-5">
										<img style="float: right; max-height: 200px" src="{{ obj.proof_of_price.url }}" class="img-responsive img-rounded">
									</div>
								</div>
								
								<!-- <br/> -->
								<hr/>
								<!-- <br/> -->
							{% endfor %}
						{% endif %}
						
					</div>
				</div>
			</div>
		</div>
	</body>
	{% include "items/footer.html" %}
</html>
