<!--DOCKTYPE html -->

<html>
	{% include "items/header.html" %}  

	<body>

		<h4 class = "text-center display-4">Search Results</h4>
		<div class="container">
			<div class="jumbotron light-primary-color">				
				{% if search != "" and search != "Nothing" %}

					{% for result in search %}
						<div class="row ">
							<div class="col-md-7">
								<p><small class="secondary-text-color">Item: </small> {{ result.name }}</p>
								<p><small class="secondary-text-color">Price: </small> ${{ result.price }}<sup>¢</sup></p>
								<p><small class="secondary-text-color">Store: </small> {{ result.store_name }} at {{ result.store_location }}</p>
								
								{% if result.is_sale_price %}
								<h6><em>This is a sale price</em></h6>
								{% endif %}
								
							</div>

							<div class="col-md-5">
								<img style="float: right; max-height: 200px" src="{{ result.proof_of_price_url }}" class="img-responsive img-rounded">
							</div>
						</div>

						<hr>
					{% endfor %}

				{% elif search == "Nothing" %}
					<h1 class="display-4 text-center">Your search did not return any results</h1>
				{% endif %}

				<br>
			</div>
		</div>
	</body>
		{% include "items/footer.html" %}  
</html>